input {
  margin-bottom: 3px;
}

.results {
  margin-top: 50px;
}

.results-div {
  margin-bottom: 8px;
}

.submit-btn {
  background-color: rgb(37, 6, 159);
  color: white;
  border: none;
  height: 30px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  border: solid rgb(37, 6, 159) 1px;
  color: rgb(37, 6, 159);
  background-color: white;
}

.submit-btn:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}